<header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" [routerLink]="''">
            <img src="/assets/img/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt=""> Merlin's
            Site
        </a>
        <!-- <a class="navbar-brand" routerLink="about-us">Merlin's Site</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li [class.active]="currentRoute.includes('home')">
                    <a class="nav-link" [routerLink]="''"> Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" [class.active]="currentRoute.includes('history')">
                    <a class="nav-link" aria-disabled="true" tabindex="-1" routerLink="history">History</a>
                </li>
                <li class="nav-item dropdown" [class.active]="currentRoute.includes('progress')">
                    <a class="nav-link" aria-disabled="true" tabindex="-1"
                        [routerLink]="['/chapter', progressIndex]">Progress</a>
                </li>
                <!-- <li class="nav-item dropdown" [class.active]="currentRoute.includes('progress')">
                    <a class="nav-link" aria-disabled="true" tabindex="-1" [routerLink]="unedited">Unedited Chapters</a>
                </li> -->

                <!-- Author Dropdown -->
                <!-- <li class="nav-item dropdown" [class.active]="currentRoute.includes('author')">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Author
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <span *ngIf="!authorised">
                            <a class="dropdown-item" routerLink="login">Login</a>
                            <a class="dropdown-item" routerLink="register">Register</a>
                        <div class="dropdown-divider"></div>
                        </span>
                        <span *ngIf="authorised">
                            <a class="dropdown-item" [routerLink]="['/unedited', 'new']">Create Unedited chapter</a>
                            <a class="dropdown-item" (click)="onLogout()">Logout</a>
                            <a class="dropdown-item" (click)="onRefreshToken()">Refresh Credentials</a>
                        </span>
                    </div>
                </li> -->
                <li class="nav-item " [class.active]="currentRoute.includes('author')">
                    <a class="nav-link" aria-disabled="true" tabindex="-1" routerLink="author">Author</a>
                </li>
                <li class="nav-item " [class.active]="currentRoute.includes('about')">
                    <a class="nav-link" aria-disabled="true" tabindex="-1" routerLink="about">About Us</a>
                </li>
                <li class="nav-item" *ngIf="getKeycloakService().isLogged()">
                    <a class="nav-link" (click)="getKeycloakService().logout()">Log Out</a>
                </li>
                <li class="nav-item" *ngIf="!getKeycloakService().isLogged()">
                    <a class="nav-link" (click)="getKeycloakService().login()">Log In</a>
                </li>
            </ul>
        </div>
    </nav>
</header>