<div class="mt-5">
    <div>
        <h2>History of Chapters
            <button class="btn btn-primary float-lg-right" routerLink="new">New</button>
        </h2>
    </div>
    <label for="search">Search for a chapter:</label>
    <input id="search" type="text" class="form-control" [(ngModel)]="filterParam" />
    <hr>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Number</th>
                <th scope="col">Chapter Name</th>
                <th scope="col">Chapter description</th>
                <th scope="col">Level</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let chapter of chapters| searchFilter:filterParam:'name'" style="cursor: pointer" [routerLink]="['/chapter', chapter.number-1]">
                <th scope=" row " class="border-right ">{{chapter.number}}</th>
                <td>{{chapter.name}}</td>
                <td>{{chapter.description}}</td>
                <td>{{chapter.character.level}}</td>
            </tr>
        </tbody>
    </table>
</div>
<router-outlet></router-outlet>