<form [formGroup]="characterForm" (ngSubmit)="onSubmit()">
    <h2>Character</h2>
    <div class="form-row">
        <div class="form-group col-md-2" *ngFor="let variable of controls">
            <label for="Character{{variable.key}}">Character {{variable.key|cleanname|titlecase}}</label>
            <input formControlName="{{variable.key}}" type="text" class="form-control" id="Character{{variable.key}}"
                placeholder="{{variable.key}}">
        </div>
    </div>
    <span *ngFor="let group of groups">
        <h3>Character{{group.key}}</h3>
        <div  [formGroupName]="group.key">
            <div class="form-group row" *ngFor="let variable of group.value.controls | keyvalue">
                <label class="col-sm-2 col-form-label"
                    for="name">{{(group.key + variable.key)|cleanname|titlecase}}</label>
                <div class="col-sm-10 col-4">
                    <input formControlName="{{variable.key}}" type="text" class="form-control" id="chapterName"
                        placeholder="{{variable.key}}">
                </div>

            </div>
        </div>
    </span>
    <!-- <div class="form-group" *ngIf="checkControl(variable)">
            <label for="name">Character{{variable.key}}</label>
            <input formControlName="{{variable.key}}" type="text" class="form-control" id="chapterName"
                placeholder="{{variable.key}}">
        </div> -->
    <button type="submit" class="btn btn-primary">Save</button>
</form>
<hr>
<button class="btn btn-primary" (click)="saveCharacter()">Save Character</button>