<form (ngSubmit)="onSubmit()" [formGroup]="chapterForm">
    <div class="form-group">
        <label for="name">Chapter Name</label>
        <input formControlName="name" type="text" class="form-control" id="chapterName"
            placeholder="Level 0. Chapter Name">
    </div>
    <div class="form-group">
        <label for="number">Chapter Number</label>
        <input formControlName="number" type="number" class="form-control" id="number" placeholder="">
    </div>
    <div class="form-group">
        <label for="content">Chapter Content</label>
        <textarea formControlName="content" class="form-control" id="content"
            rows="50"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
